body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #b0c4de;
  height: 100vh;
  /* filter: blur(5px); */
}
.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 50px 10px;
  border-radius: 20px;
  background-color: #e0e4eb;
  max-width: 1200px;
}
.container {
  display: flex;
  justify-content: left;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.header__logo {
  width: 150px;
  height: auto;
}
.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title-name {
  font-size: 55px;
  margin-bottom: 10px;
}
.header__title-description {
  color: #8f97a3;
  font-size: 27px;
}

/* грид */
.table {
  width: 100%;
  margin-bottom: 10px;
}

.table__content {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 2px #8f97a3 solid;
  justify-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* grid-template-rows: repeat(4, 1fr); */
  /* max-height: 250px; */
}

.table__cell {
  display: grid;
  text-align: center;
  place-items: center;
  width: 100%;
  padding: 10px;
  font-weight: 200;
  color: #454b54;
  border-bottom: 2px solid #dcdee1;
  border-right: 2px solid #dcdee1;
  word-break: break-all;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 130px;
  height: 60px;
}
.table__cell::-webkit-scrollbar {
  display: none; /* Скрыть скроллбар */
}
.table__cell--header {
  color: #8f97a3;
  font-weight: 500;
}

.table__row:last-child .table__cell {
  border-bottom: none;
}
.table__cell:last-child {
  border-right: none;
}

.footer {
  margin-bottom: 10px;
  width: 100%;
}
.add-button {
  width: 100%;
  height: 50px;
  background: #5c8dd6;
  border-radius: 20px;
  border: 2px solid #1f437a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.add-button-image {
  max-height: 70%;
  max-width: 70%;
}
.table__row {
  display: contents;
}
.table__checkbox-button {
  display: none;
}
.table__checkbox-icon {
  display: flex;
  border: #1f437a solid 1.7px;
  width: 18px;
  height: 18px;
  border-radius: 5px;
}
.table__checkbox-button:checked + .table__checkbox-icon {
  background: #5c8dd6;
  background-image: url("../assets/checkbox.png");
  background-position: center center;
  background-size: 75%;
  background-repeat: no-repeat;
}
.table__checkbox-button--header:checked + .table__checkbox-icon--header {
  background-image: url("../assets/checkbox-select-all.png");
}
.table__checkbox-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.table__remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.table__remove-button-icon {
  background-position: 50% 40%;
  background-image: url("../assets/trash-icon.png");
  height: 100%;
  width: 33px;
  background-size: 50%;
  background-repeat: no-repeat;
}
.table__content--form {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal__content--form {
  z-index: 103;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.modal__form-tabel {
  flex: 1;
  padding-right: 10px;
}
.add-button--modal {
  margin: 0;
  width: 110px;
  height: auto;
  align-self: stretch;
}
