body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #b0c4de;
  margin-top: 100px;
}
.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 50px 10px;
  border-radius: 20px;
  background-color: #e0e4eb;
  max-width: 1200px;
}
.container {
  display: flex;
  justify-content: left;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.header__logo {
  width: 150px;
  height: auto;
}
.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title-name {
  font-size: 55px;
  margin-bottom: 10px;
}
.header__title-description {
  color: #8f97a3;
  font-size: 27px;
}

/* грид */
.table {
  width: 100%;
  margin-bottom: 10px;
}

.table__content {
  padding: 0px 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 2px #8f97a3 solid;
  justify-items: center;
}
.table__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-weight: 200;
  color: #454b54;
  text-align: center;
  word-break: break-all;
}
.table__cell--header {
  border-bottom: 3px solid #dcdee1;
  color: #8f97a3;
  font-weight: 500;
}
.footer {
  margin-bottom: 10px;
  width: 100%;
}
.footer__add-button {
  width: 100%;
  height: 50px;
  background: #5c8dd6;
  border-radius: 20px;
  border: 2px solid #1f437a;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__add-button-image {
  max-height: 60%;
  width: auto;
}
.table__checkbox-button {
  display: none;
}
.table__checkbox-icon {
  display: flex;
  border: #1f437a solid 1.7px;
  width: 18px;
  height: 18px;
  border-radius: 5px;
}
.table__checkbox-button:checked + .table__checkbox-icon {
  background: #5c8dd6;
  background-image: url("../assets/checkbox.png");
  background-position: center center;
  background-size: 75%;
  background-repeat: no-repeat;
}
.table__checkbox-button--header:checked + .table__checkbox-icon--header {
  background-image: url("../assets/checkbox-select-all.png");
}
.table__remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.table__remove-button-icon {
  background-position: 50% 40%;
  background-image: url("../assets/trash-icon.png");
  height: 100%;
  width: 33px;
  background-size: 50%;
  background-repeat: no-repeat;
}
